/* Fonts Style */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Open+Sans+Condensed:wght@300&display=swap"); /* Font Size App */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
/* Colors App */
.color-orange {
  color: #cb875f;
}
.backgroundColor-black {
  background-color: #20232a;
}
.backgroundColor-orange {
  background-color: #cb875f;
}
.backgroundColor-white {
  background-color: #ffffff;
}
/* App */
.background-image {
  z-index: -1;
  opacity: 0.08;
  position: absolute;
  width: 40%;
  max-width: 400px;
  min-width: 300px;
  bottom: 0;
  right: 27%;
}
/* Header */
nav {
  margin-left: 10%;
}
.logoLinkedIn {
  transition-duration: 0.4s;
  position: absolute;
  bottom: -29px;
  right: 3%;
}
.logoGitHub {
  transition-duration: 0.4s;
  position: absolute;
  bottom: -31px;
  right: 10%;
}
.logoCv {
  transition-duration: 0.4s;
  position: absolute;
  bottom: -38px;
  right: 18%;
}
.logoCv:hover,
.logoGitHub:hover,
.logoLinkedIn:hover {
  bottom: 0;
}
.logo {
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
}
.logo-dg-web {
  width: 60px;
}
.header-title {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}
.menu-title {
  font-size: 20px;
  cursor: pointer;
  font-family: "Open Sans Condensed", sans-serif;
}
.menu a:hover {
  color: #cb875f;
}
.menu {
  overflow-x: scroll;
}
.menu a {
  color: white;
  text-decoration: none;
}
.menu::-webkit-scrollbar {
  display: none;
}
.activeMenu {
  color: #cb875f !important ;
  border-bottom: 3px #cb875f solid;
}

/* Main */
.main {
  overflow-y: scroll;
}
.main strong {
  font-style: normal;
  font-weight: lighter;
  background-color: rgba(203, 135, 95, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.main strong:hover {
  background-color: rgba(203, 135, 95, 0.4);
  border-bottom: 1px solid black;
}
.main::-webkit-scrollbar {
  display: none;
}
.main h1 {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  margin-bottom: 33px;
}
.main h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Anton", sans-serif;
}
.main p {
  font-size: 18px;
  color: black;
}

/* SideBar */
.sideBar {
  border-left: 1px gainsboro solid;
  z-index: 2;
  width: 42%;
  background-color: whitesmoke;
  overflow-y: scroll;
}
.sideBar::-webkit-scrollbar {
  display: none;
}
.fingerMove {
  display: none;
}
/** Animations */
.fadeIn{
  animation-duration: 1s;
  animation-name: FadeIn;
}
@keyframes FadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
       opacity: 1;
    }
}
.fadeOut{
  animation-duration: 1s;
  animation-name: FadeOut;
}
@keyframes FadeOut
{
    0%
    {
        opacity: 1;
    }
    100%
    {
       opacity: 0;
    }
}

/* Wrapper Menu Responsive */


/** Responsive */
@media screen and (max-width: 768px) {
  .main h1 {
    font-size: 30px;
  }
  nav {
    margin-left: 0;
  }
  .background-image {
    right: 0;
  }
  .sideBar {
  width: 100%;
  position: absolute;
}
}
@media screen and (max-width: 500px) {
  .fingerMove {
    display: block;
  }
}
